openapi: 3.1.0
info:
  title: JassWiki RAG API
  description: Semantische Suche über JassWiki (RAG)
  version: 1.0.0
servers:
  - url: https://api.jasswiki.ch
    description: Production API (Custom Domain)
paths:
  /:
    post:
      operationId: jasswikiQuery
      summary: Semantische Suche im JassWiki
      description: Führt eine RAG-Query aus und liefert genau 1 Top-Ergebnis.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - query
              properties:
                query:
                  type: string
                  description: Natürlichsprachige Suchanfrage
                topK:
                  type: integer
                  description: Anzahl Kandidaten (intern)
                  default: 5
                  minimum: 1
                  maximum: 10
                filters:
                  type: object
                  description: Optionale Filter
                  properties:
                    category:
                      type: string
                      enum: [Regeln, Weis-Regeln, Varianten, Taktiken und Strategien, Grundlagen & Kultur]
                    variant:
                      type: string
                    minScore:
                      type: number
                      default: 0.85
      responses:
        "200":
          description: Erfolgreiche Query
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    minItems: 1
                    maxItems: 1
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        text:
                          type: string
                          description: Vollständiger Artikeltext oder gerenderter Vollartikel
                        score:
                          type: number
                        title:
                          type: string
                        canonical_url:
                          type: string
                        category:
                          type: object
                          properties:
                            main:
                              type: string
                            sub:
                              type: string
                        see_also:
                          type: array
                          items:
                            type: object
                            properties:
                              title:
                                type: string
                              url:
                                type: string
                            required:
                              - title
                              - url
                        variant:
                          type: string
                        isRuleQuestion:
                          type: boolean
                        renderedFullAnswer:
                          type: string
                        sections:
                          type: array
                          items:
                            type: object
                            properties:
                              heading:
                                type: string
                              content:
                                type: string
                  metadata:
                    type: object
                    properties:
                      query:
                        type: string
                      rejected_reason:
                        type: string
        "400":
          description: Ungültige Anfrage
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        "500":
          description: Server-Fehler
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
